.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background 0.3s ease-in-out;
  z-index: 1000;
}

.header.scrolled {
  background: white;
  box-shadow: 0 4px 2px -2px gray;
}